@import "tailwindcss";

body {
  margin: 0;
  padding: 0;

  background: linear-gradient(
    to bottom right,
    #020617,
    #0f172a,
    #111827
  );

  color: black;

  overflow: hidden;
}

* {
  box-sizing: border-box;
}